﻿@page
@model ccbl.Pages.AdministratorModel
@{
    ViewData["Title"] = "Administrator";
}

<div style="display: block">
    <h1>Administrator</h1>
    <div style="float: right; margin-top: 10px; padding-top: 2px">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search">Search</i></button>
    </div>
</div>

<div class="container">
    <h3>Reports</h3>
    <h4>Users</h4>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mark-auto@corn.com</td>
            <td>Student</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>chili@chubbybois.gov</td>
            <td>Administrator</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>bitter@gutter.com</td>
            <td>Student</td>
            </tr>
        </tbody>
    </table>
    <h4>Projects</h4>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Organization</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Monday Volunteers</td>
            <td>Claire Blight Cookie Funders</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            </tr>
        </tbody>
    </table>
</div>

