﻿@page
@model ccbl.applyModel
@{
    ViewData["Title"] = "apply";
}

<!DOCTYPE html>
<html>

<head>
    <style>

        html, body {
            justify-content: center;
            font-family: Roboto, Arial, sans-serif;
            font-size: 15px;
        }

        form {
            border: 5px solid #f1f1f1;
        }

        input[type=text] {
            width: 100%;
            padding: 16px 8px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .icon {
            font-size: 110px;
            display: flex;
            justify-content: center;
            color: #1A3561;
        }

        button {
            background-color: #1A3561;
            color: white;
            padding: 14px 0;
            margin: 10px 0;
            border: none;
            cursor: grab;
            width: 48%;
        }

        h1 {
            text-align: center;
        }

        button:hover {
            opacity: 0.8;
        }

        .formcontainer {
            text-align: center;
            margin: 24px 50px 12px;
        }

        .container {
            padding: 16px 0;
            text-align: left;
        }

        span.psw {
            float: initial;
            padding-top: 20px;
            padding-right: 15px;
        }
    </style>
</head>
<body>
    <form method="post">
        <h1>Application</h1>

        <div class="formcontainer">
            <div class="container">
                <label for="name"><strong>Name</strong></label>
                <input type="text" asp-for="Apply.Name" placeholder="Enter Name" required/>
                <label for="mail"><strong>E-mail</strong></label>
                <input type="text" asp-for="Apply.Email" placeholder="Enter E-mail" required />
                <label for="psw"><strong>Password</strong></label>
                <input type="text" asp-for="Apply.Password" placeholder="Enter Password" required  />
            </div>
            <div class="form-group">
                <label for="form1">Extra Info:</label>
                <textarea class="form-control rounded-0" id="form1" asp-for="Apply.ExtraInfo" 
                          placeholder="Tell us more about yourself" rows="5" cols="25" maxlength="500"></textarea>
                <button type="button" onclick="tFunction()">change</button>
            </div>

            <div class="container" style="background-color: #eee">
                <label style="padding-left: 15px">
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
        </div>
        <button type="submit"><strong>APPLY</strong></button>
    </form>
</body>
</html>

