﻿@page
@model ccbl.Pages.CommunityPartnerModel
@{
    ViewData["Title"] = "CommunityPartner";
}

<div id="userHeader" style="display: block">
    <h1 style="float: left">Community Partner</h1> 
</div>

<div style="float:right; padding-top: 12px">
    <form action="JobPosting">
        <input type="submit" value="Post an Internship" />
    </form>
</div>

