﻿@page
@model ccbl.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}

<h1>Confirmation</h1>
<body>
    <p>
        So does this information look correct?<br>
        Name: @Model.Name <br>
        Email: @Model.Email <br>
        Extra Info: @Model.ExtraInfo <br>

    </p> 


</body>
