﻿@page
@model ccbl.Pages.FacultyModel
@{
    ViewData["Title"] = "Faculty";
}

<div id="userHeader" style="display: block">
    <h1 style="float: left">Faculty</h1>
</div>

<div class="card-deck">
    <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
        <div class="card-header">
             <h3>Monday Volunteers</h3>
             <h4>Claire Blight Cookie Funders</h4>
        </div>
        <div class="card-footer text-center">
            <a href="#" class="btn btn-primary m-1">View</a>
            <a href="#" class="btn btn-primary m-1">Edit</a>
            <a href="#" class="btn btn-danger m-1">Delete</a>
        </div>
    </div>
</div>
