﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="background-image:url('images/unfLoginGym.jpg'); background-repeat:no-repeat; background-attachment:fixed;
padding-top: 30px; padding-bottom: 30px">
    <div class="jumbotron" style="width: 350px; text-align: center; margin-left: auto; margin-right: auto; padding-top: 30px; padding-bottom: 30px;
    background-color:#dedede; margin-top: 20px; margin-bottom: 20px">    
        <form>
    	    <h4 class="modal-title" style="margin-bottom: 25px">Login to Your Account</h4>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required="required">
                <input type="password" class="form-control" placeholder="Password" required="required">
            </div>
            <div class="form-group small clearfix">
                <label class="checkbox-inline"><input type="checkbox"> Remember Me</label>
                <a href="#" class="forgot-link">Forgot Password?</a>
            </div> 
            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">              
        </form>			
        <div class="text-center small" style="margin-top: 10px">Don't have an account? <a href="#">Sign up</a></div>
    </div>
</div>
