﻿@page
@model ccbl.Pages.JobPostingModel;
@{
    ViewData["Title"] = "CommunityPosting";
}
<!DOCTYPE html>
<html>

<head>
    <style>
        html, body {
            justify-content: center;
            font-family: Roboto, Arial, sans-serif;
            font-size: 15px;
        }

        input[type=text] {
            width: 100%;
            padding: 16px 8px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        input[type=number] {
            width: 100%;
            padding: 16px 8px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        input[type=date] {
            width: 100%;
            padding: 16px 8px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        select {
            width: 100%;
            padding: 16px 8px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        .icon {
            font-size: 110px;
            display: flex;
            justify-content: center;
            color: #1A3561;
        }
        button {
            background-color: #1A3561;
            color: white;
            padding: 14px 0;
            margin: 10px 0;
            border: none;
            cursor: grab;
            width: 48%;
        }
        h1 {
            text-align: center;
        }
        button:hover {
            opacity: 0.8;
        }
        .formcontainer {
            text-align: center;
            margin: 24px 50px 12px;
        }
        .container {
            padding: 5px 0;
            display: inline;
        }
        label {
            float: left;
            margin-right: 1em;
        }

    </style>
</head>
<body>
    <form action="/action_page.php">
        <h1>Community Posting</h1><hr />
        <div class="formcontainer">
            <div class="container">
                <label for="text"><strong>Name of Project:</strong></label>
                <input type="text" required />
                <label for="text"><strong>Organization:</strong></label>
                <input type="text" required />
                <label for="date"><strong>Start Date:</strong></label>
                <input type="date" name="startDate" required>
                <label for="date"><strong>End Date:</strong></label>
                <input type="date" name="endDate" required>
                <label for="number"><strong>Total Hours:</strong></label>
                <input type="number" name="totalHours" required>
                <label for="number"><strong>Hourly Wage (if applicable):</strong></label>
                <input type="number" step="any" min="0" name="hourlyWage" required>
                <label for="text"><strong>Topics:</strong></label>
                <input type="text" required />
                <label for="text"><strong>Location of Job:</strong></label>
                <input type="text" placeholder="Address is required if not availible online." required />
            </div>
            <div class="container">
                <label for="skills"><strong>Skills Required:</strong></label>
                <textarea class="form-control rounded-0" id="skills" placeholder="Tell us more about the skills required for this oppurtunity."
                         rows="5" cols="10" maxlength="500"></textarea>
                <label for="form1"><strong>Project Description:</strong></label>
                <textarea class="form-control rounded-0" id="form1" placeholder="Tell us more about your experience building oppurtunity."
                         rows="5" cols="25" maxlength="500"></textarea>
            </div>
            <button type="submit"><strong>APPLY</strong></button>
        </div>
    </form>
</body>
</html>
