﻿@page
@model ccbl.Pages.StudentModel
@{
    ViewData["Title"] = "Student";
}

    <div id="userHeader" style="display: block">
        <h1 style="float: left">Student</h1>
        <div style="float: right; margin-top: 10px; padding-top: 2px">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Search</button>
        </div>

        <div style="float:left; margin-top: 10px; padding-top: 2px">
            <form action="apply">
                <input type="submit" value="Apply to internship" />
            </form>
        </div>

    </div>

