﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ccbl</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   <!-- old header 
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ccbl</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div style="float: right">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Administrator">Administrator</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Faculty">Faculty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Student">Student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CommunityPartner">Community</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> -->
    <header>
        <nav class="container-fluid mb-4">
            <div class="row">
                <div class="col-6 m-0 p-0 pl-5 py-2">
                    <a href="https://www.unf.edu/default.aspx">
                        <img src="https://www.unf.edu/uploadedImages/images/logos/UNF_Logo.gif" />
                    </a>
                    <a href="https://www.unf.edu/ccbl/">
                        <img src="https://www.unf.edu/uploadedImages/images/logos/ccbl.gif" />
                    </a>
                </div>
                <div class="col-6 text-right" id="dev-1">
                    <a asp-area="" asp-page="/Index">Home</a>
                    <a asp-area="" asp-page="/Administrator">Administrator</a>
                    <a asp-area="" asp-page="/Faculty">Faculty</a>
                    <a asp-area="" asp-page="/Student">Student</a>
                    <a asp-area="" asp-page="/CommunityPartner">Community</a>
                </div>
            </div>
        </nav>
    </header>
 
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - ccbl - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
